.email-from{
  width: 80%;
  height: 80%;
  padding: 20px;

  form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
    
  }

  input,textarea,button{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    padding-left: 20px;
    background: none;
    border: 2px solid var(--yellow-theme-main-color);
    color: beige;
    font-size: 15px;

    &::placeholder {
      color: var(--yellow-theme-main-color);
      font-weight: 500;
      font-size: 15px;
    }


  }

  textarea{
    height: 200px;
    padding: 20px;
    font-weight: 500;
    resize: none; 
    
    
  }
  .butn {
    width: 60%;
    color: var(--yellow-theme-main-color); 
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

  }

  .butn:hover{
    background: var(--yellow-theme-main-color); 
    color: black;
    font-weight: 500;

  }


}

@media (max-width: 839px) and (min-width: 250px) {
  .email-from{
    width: 80%;
    height: 100%;
    padding: 20px;
    margin-top: 20px ;

  }
}
