@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root{
  --yellow-theme-background-color: #000411;
  --yellow-theme-main-color: #00c2f3;
  --yellow-theme-sub-tex-color: #ffffff;
  --yellow-theme-nav-background-color: #00000c;
}

*{
 
  padding: 0;
  margin: 0;
   
  
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  background: var(--yellow-theme-background-color);
  height: 100%;
}

#root {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  --sb-track-color: #303c42;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 31px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 31px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}